<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Member</title>
  <script src="../js/crud/login.js"></script>
</head>
<body>
  <div align="center">
    <h1>LOGIN PAGE</h1>
    <!---->
    <form action="/" method="get" onsubmit="return loginOption(this);">
      <table>
        <tr>
          <th>name</th>
          <td><input type="text" name="name"></td>
        </tr>
        <tr>
          <th>id</th>
          <td><input type="text" name="id"></td>
        </tr>
        <tr>
          <td colspan="2"><input type="submit" value="submit"></td>
        </tr>
      </table>
    </form>
  </div>
</body>
</html>