<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Member</title>
  <script src="../js/crud/login.js"></script>
</head>
<body>
  <div align="center">
    <h1>LOGIN PAGE</h1>

    <form action="main" method="get" onsubmit="return loginOption(this);">
      <table>
        <tr>
          <th>name</th>
          <td><input type="text" name="name"></td>
        </tr>
        <tr>
          <th>id</th>
          <td><input type="text" name="id"></td>
        </tr>
        <tr>
          <td align="center"><input type="submit" value="submit"></td>
        </tr>
        <tr>
          <td><a href="join">Join</a></td>
          <td><a href="find_id">Find ID</a></td>
          <td><a href="find_pwd">Find PWD</a></td>
        </tr>
      </table>
    </form>
  </div>
</body>
</html>